

.introduce {
  height: 100vh;
  width: 100dvi;
  background-image: linear-gradient(to right, #f5f5dc,  #c39371);
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduce-container {
  width: 100%;       /* Bu satırı EKLE */
  max-width: 700px; /* Opsiyonel: İçeriği sınırlamak istersen */
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 15px;

}

.introduce-btn {
  width: 350px;
  height: 50px;
  font-size: 18px;
  background-color: #5c2a07;
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  /* Geçiş efektleri */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.introduce-btn:hover,
.introduce-btn:focus {
  background-color: #7e3f0a;  /* Biraz daha açık/koyu renk */
  transform: scale(1.05);      /* Hafif büyütme */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Gölge efekti */
  outline: none;              /* Focus kenarlığını kaldır */
}
